@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Montserrat|Roboto+Slab&display=swap|Arimo:400,700&display=swap");
body {
  font-family: sans-serif;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: "Arimo", sans-serif;
}

.nav-container {
  max-width: 1400px;
}

.scrolling {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
  opacity: 1;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

nav {
  position: fixed;
  z-index: 100;
  background-color: #ffffff00;
  height: 75px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

nav .navInContainer {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

nav .brandContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style: none;
  margin: 0 0 0 auto;
}

nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 15px;
}

nav .borderLink {
  border: solid 1px #74C7D1;
}

nav .navLink {
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: color .15s ease-in-out;
  transition: color .15s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 5px 10px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

nav .navLink:hover {
  color: #74C7D1;
  text-decoration: none;
  background-color: #74C7D113;
}

nav .languageList {
  position: relative;
  display: block;
  overflow: hidden;
  top: 60px;
  left: -60px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  opacity: 0;
  height: 0;
}

nav .languageList a {
  color: white;
  text-decoration: none;
  padding: 10px 5px;
}

nav .languageList a:hover {
  color: #ffffffc4;
}

nav .navLanguage {
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: color .15s ease-in-out;
  transition: color .15s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 5px 5px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

nav .navLanguage:hover {
  background-color: #74C7D113;
}

nav .brandName {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 0 0 25px;
  font-family: "Arimo", sans-serif;
}

nav .brandNameLogo {
  height: 40px;
  width: 40px;
  margin: 15px 0;
}

.navMobile {
  position: fixed;
  z-index: 100;
  background-color: #ffffff00;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.navMobile .navInContainer {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navMobile a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navMobile .brandContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.navMobile .brandNameLogo {
  height: 50%;
  width: auto;
  margin: auto 20px;
}

.navMobile #hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: auto;
  margin-right: 25px;
}

.navMobile #hamburger .line1 {
  height: 2px;
  width: 20px;
  background: white;
}

.navMobile #hamburger .line2 {
  height: 2px;
  width: 15px;
  background: white;
  margin: 5px 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.navMobile #hamburger .line3 {
  height: 2px;
  width: 20px;
  background: white;
}

.mobileMenu {
  width: 75vw;
  height: 100vh;
  position: fixed;
  background: #1c164b;
  z-index: 99;
  top: 0;
  right: -75vw;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobileMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: auto 0;
  width: 100%;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.mobileMenu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 20px 0px;
  font-size: 1.5rem;
  color: white;
}

.mobileMenu li span {
  padding: 0px 100px 0 100px;
  border-top: 2px solid;
}

.mobileMenu .borderLink {
  border: solid 1px #74C7D1;
}

.mobileMenu .navLink {
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: color .15s ease-in-out;
  transition: color .15s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 5px 10px;
}

.backgroundWrapper {
  background: #2f286f;
  background: linear-gradient(135deg, #352e75 0%, #262054 100%);
}

.contact {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1000px) {
  .contact {
    height: 100%;
  }
}

.contact .row {
  height: 75%;
  background: white;
  margin: auto;
}

@media (max-width: 1000px) {
  .contact .row {
    height: 100%;
    margin: 100px 0;
  }
}

.contact .row img {
  padding: 100px;
}

@media (max-width: 1000px) {
  .contact .row img {
    padding: 20px 0px;
    margin: auto 0px;
    height: 100%;
    width: auto;
  }
}

.contact form {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
}

@media (max-width: 1000px) {
  .contact form {
    width: 100%;
  }
}

.contact form input {
  background: #e7e7e7;
  color: #6b6b6b;
  border: none;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
}

.contact form textarea {
  background: #e7e7e7;
  color: #6b6b6b;
  border: none;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
}

.contact form h3 {
  font-weight: 700;
  font-size: 2rem;
  color: #74C7D1;
  margin-bottom: 30px;
}

.contact form button {
  background: #74C7D1;
  color: #ffffff;
  border: none;
  padding: 10px;
  margin: 10px 0;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.contact form button:hover {
  background: #58969e;
  color: #ffffff;
}

footer {
  color: #ffffff7a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.8rem;
}
/*# sourceMappingURL=contact.css.map */