@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Montserrat|Roboto+Slab&display=swap|Arimo:400,700&display=swap');

$maincolor: #74C7D1
$secondarycolor: #232323
$textwhite: #ffffff
$textdark: #232323
$fontText: 'Open Sans', sans-serif
$fontHelvetica: 'Arimo', sans-serif
$fontTitle: 'Montserrat', sans-serif
$fontText1: 'Roboto Slab', serif
=center
    top: 50%
    left: 20%
    transform: translate(-50%,-50%)

body
    font-family: sans-serif
    overflow-x: hidden
    font-family: 'Open Sans', sans-serif
h1
    font-family: $fontHelvetica
.nav-container
    max-width: 1400px

nav
    position: fixed
    z-index: 100
    background-color: #ffffff00
    height: 75px
    width: 100vw
    display: flex
    transition: all 0.25s ease-in-out
    .navInContainer
        width: 1200px
        display: flex
        margin: 0 auto
    .brandContainer
        display: flex
        justify-content: center
        align-content: center
    ul
        display: flex
        padding: 0
        list-style: none
        margin: 0 0 0 auto
    li
        display: flex
        align-self: center
        margin: 0 15px
    .borderLink
        border: solid 1px #74C7D1
    .navLink
        text-decoration: none
        color: $textwhite
        transition: color .15s ease-in-out
        display: flex
        align-self: center
        padding: 5px 10px
        transition: all 0.25s ease-in-out 
        &:hover
            color: #74C7D1
            text-decoration: none
            background-color: #74C7D113
    .languageList
        position: relative
        display: block
        overflow: hidden
        top: 60px
        left: -60px
        transition: all .4s ease-in-out
        opacity: 0
        height: 0
        a 
            color: white
            text-decoration: none
            padding: 10px 5px
            &:hover
                color: #ffffffc4
    .navLanguage
        text-decoration: none
        color: $textwhite
        transition: color .15s ease-in-out
        display: flex
        align-self: center
        padding: 5px 5px
        transition: all 0.25s ease-in-out 
        cursor: pointer
        &:hover
            background-color: #74C7D113

    .brandName
        font-size: 1.5rem
        display: flex
        align-self: center
        margin: 0 0 0 25px
        font-family: $fontHelvetica

    .brandNameLogo
        height: 40px
        width: 40px
        margin: 15px 0

.backgroundWrapper
    background: #2f286f
    background: linear-gradient(135deg, #352e75 0%,#262054 100%)

.myWork
    height: 100vh
    display: grid
    grid-template-columns: 20% 20% 20% 20% 20%
    grid-template-rows: 20% 20% 20% 20% 20%

.myItem
    grid-column-start: 2
    grid-column-end: 3
    grid-row-start: 2
    grid-row-end: 3
    background-color: white
    transition: 0.25s ease-in-out
    &:hover
        grid-column-start: 2
        grid-column-end: 4
        grid-row-start: 2
        grid-row-end: 4

.projects
    padding: 200px 0
    h4
        color: #74c8d17e
        margin: 0 25px 25px 0
        cursor: pointer
        transition: all 0.25s ease-in-out
        &:hover
            color: $maincolor
    .focusedTopic
        color: $maincolor
    a
        color: #74C7D1
    .projectCard
        height: 300px
        width: 100%
        background-color: white
    .recentTitle
        font-weight: 700
        font-size: 3rem
        color: #74C7D1
        line-height: 1.5
    .projectCard
        overflow: hidden
        width: 100%
        height: 360px
        padding: 1.5rem
        background: white
        position: relative
        display: flex
        align-items: flex-end
        transition: 0.4s ease-out
        box-shadow: 0px 7px 10px rgba(black, 0.5)
        &:hover
            transform: translateY(5px)
            &:before
                opacity: 1
            .projectInfo
                opacity: 1
                transform: translateY(0px)
        &:before
            content: ""
            position: absolute
            top: 0
            left: 0
            display: block
            width: 100%
            height: 100%
            background: rgba(black, 0.6)
            z-index: 2
            transition: 0.5s
            opacity: 0
        img
            width: 100%
            height: 100%
            position: absolute
            top: 0
            left: 0
    .projectInfo
        position: relative
        z-index: 3
        color: white
        opacity: 0
        transform: translateY(30px)
        transition: 0.5s
        h3
            margin: 0px
        p
            letter-spacing: 1px
            font-size: 15px
            margin-top: 8px
        button
            padding: 0.6rem
            outline: none
            border: none
            background: white
            color: black
            font-weight: bold
            cursor: pointer
            transition: 0.25s ease-in-out
            &:hover
                background: #464646
                color: white
    .webDevProjects
        display: flex
        flex-wrap: wrap
        opacity: 1
        transition: all 0.5s ease-in-out
        .column
            flex: 1 1 1
            width: 48%
            margin: 0 1% 0 1%
    .graphicProjects
        display: flex
        flex-wrap: wrap
        opacity: 0
        transition: all 0.5s ease-in-out
        img
            object-fit: cover
            position: absolute
            top: 0
            left: 0
        .column
            flex: 1 1 1
            width: 31%
            margin: 0 1% 0 1%
        .column-2
            flex: 1 1 1
            width: 62%
            margin: 0 1% 0 1%

.modal 
    display: none 
    position: fixed
    z-index: 1002
    padding-top: 100px 
    left: 0
    top: 0
    width: 100% 
    height: 100% 
    overflow: auto 
    background-color: rgb(0,0,0) 
    background-color: rgba(0,0,0,0.9) 
.modal-content 
    margin: auto
    display: block
    width: 80%
    max-width: 700px
#caption 
    margin: auto
    display: block
    width: 80%
    max-width: 700px
    text-align: center
    color: #ccc
    padding: 10px 0
    height: 150px

.modal-content
    animation-name: zoom
    animation-duration: 0.6s

#caption 
    animation-name: zoom
    animation-duration: 0.6s


@keyframes zoom 
    0%
        transform: scale(0)
    100% 
        transform: scale(1)

#close 
    position: absolute
    top: 15px
    right: 35px
    color: #f1f1f1
    font-size: 40px
    font-weight: bold
    transition: 0.3s

    &:hover
        color: #bbb
        text-decoration: none
        cursor: pointer
    &:focus 
        color: #bbb
        text-decoration: none
        cursor: pointer

 
footer
    color: #ffffff7a
    display: flex
    justify-content: center
    font-size: 0.8rem


